<!DOCTYPE html>
<html lang="ja">
  <head>
    <mata charset="utf-8">
    <link rel="stylesheet" href="stylesheets/main.css"/>
    <title>メモアプリ</title>
  </head>
  <body>
    <h1>メモ一覧</h1>
    <a href='/new'>新規メモ</a>
    <ul>
      <% @memos.each do |memo| %>
        <li "<%= memo.title %>">
          <a href='/memos/<%= memo.id %>'><%= memo.title %></a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
