<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <link rel="stylesheet" href="stylesheets/main.css"/>
  <title><%= @title %></title>
</head>
<head>メモアプリ</head>
<body>
    <%= yield %>
</body>
</html>
