<!DOCTYPE html>
<html lang="ja">
  <head>
    <mata charset="utf-8">
    <link rel="stylesheet" href="stylesheets/main.css"/>
    <title>Add New Memo</title>
  </head>
  <body>
    <h1>Add new</h1>
      <form method="post" action="/new">
          <input type= "text" name="title">
          <input type= "text" name="body">
          <input type= "submit" value="post!">
      </form>
  </body>
</html>
